@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/SCP-CN-Tech/Typeface@gh-pages/LXGW-WenKai.woff') format('woff');
}